<div class="footer">
    <h2>Brought to you by:<br><br>Bug Slayers</h2>
    <div class="row">
      <div class="col-lg-4">
        <img src="/static/images/hachiman.jpg" class="avatar">
        <h3>
          Davy
        </h3>
      </div>
      <div class="col-lg-4">
        <img src="/static/images/sasha.jpg" class="avatar">
        <h3>
          Sarah
        </h3>
      </div>
      <div class="col-lg-4">
        <img src="/static/images/ed.jpg" class="avatar">
        <h3>
          Rishabh
        </h3>
      </div>
    </div>
  </div>