<div class="footer">
    <h2>Brought to you by Bug Slayers</h2>
    <div class="row">
      <div class="col-lg-4">
        <h3>
          Davy
        </h3>
      </div>
      <div class="col-lg-4">
        <h3>
          Sarah
        </h3>
      </div>
      <div class="col-lg-4">
        <h3>
          Rishabh
        </h3>
      </div>
    </div>
  </div>