h1
{
  font-size: 4rem;
  font-family: 'Grandstander', cursive;
}

body
{
  font-family: 'Henny Penny', cursive;
}

h2
{
  padding-bottom: 3%;
}

.navbar
{
  background-color: rgb(216, 86, 0);
}

.center_div{
  margin: 0 auto;
}

.main
{
  margin: 0%;
  text-align: center;
  background-image: url("../images/bg.jpg");
  background-color: rgb(255, 226, 146);
}

.nav-item
{
  font-size: 1.2rem;
}
.fa-angle-double-down
{
  font-size: 2rem;
  color: aliceblue;
}

.forgot
{
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer
{
  text-align: center;
  color: aliceblue;
  background-color: hsl(0, 0%, 0%);
  padding: 5% 2% 5%;
}

.google
{
  text-align: center;  
}

.fa-google
{
  font-size: 2rem;
}

.fa-google:hover
{
  color: red;
  text-decoration: none;
}

#bottom
{
  margin-bottom: 0%;
  padding-bottom: 2%;
}

#navLogo
{
  height: 5rem;
  width: 5rem;
}

#countdown
{
  font-family: 'Monoton', cursive;
  color: rgb(255, 6, 6);
  font-size: 3rem;
  padding-bottom: 0%;
}

#logo
{
  margin-top: 3%;
  height: 250px;
  width: 250px;
}

#dance
{
  margin-top: 20%;
}