h1
{
  font-size: 4rem;
  font-family: 'Grandstander', cursive;
}

body
{
  font-family: 'Architects Daughter', cursive;
}

h2
{
  padding-bottom: 3%;
  margin: 0%;
}

.main-txt
{
  font-size: 3rem;
}

.navbar
{
  background-color: rgb(216, 86, 0);
  padding-top: 0%;
  padding-bottom: 0%;
}

.navbar-brand
{
  font-family: 'Grandstander', cursive;
}

.center_div{
  margin: 0 auto;
}

.main
{
  margin: 0%;
  text-align: center;
  background-image: url("../images/bg.jpg");
  background-color: rgb(255, 226, 146);
  padding-bottom: 2%;
}

.nav-item
{
  font-size: 1.2rem;
}
.fa-angle-double-down
{
  font-size: 2rem;
  color: aliceblue;
}

.forgot
{
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer
{
  text-align: center;
  color: aliceblue;
  background-color: hsl(30, 100%, 14%);
  padding: 2% 5% 2%;
}

.google
{
  text-align: center;  
}

.fa-google
{
  font-size: 2rem;
}

.fa-google:hover
{
  color: red;
  text-decoration: none;
}

#bottom
{
  margin-bottom: 0%;
  padding-bottom: 2%;
}

#navLogo
{
  width: 4rem;
}

#countdown
{
  font-family: 'Black Ops One', cursive;
  color: rgb(255, 6, 6);
  font-size: 4rem;
  padding-bottom: 0%;
}

#logo
{
  margin-top: 3%;
  height: 250px;
  width: 250px;
}

#dance
{
  margin-top: 20%;
}